
.DS_Store
assignment5/.idea/assignment5.iml
assignment5/.idea/misc.xml
assignment5/.idea/modules.xml
assignment5/.idea/vcs.xml
assignment5/.idea/vcs.xml
assignment5/.idea/workspace.xml
assignment5/.idea/vcs.xml
