
.DS_Store
assignment5/.idea/assignment5.iml
assignment5/.idea/misc.xml
assignment5/.idea/modules.xml
assignment5/.idea/vcs.xml
assignment5/.idea/vcs.xml
assignment5/.idea/workspace.xml
assignment5/.idea/vcs.xml
assignment6/.idea/misc.xml
assignment6/.idea/assignment6.iml
assignment6/.idea/modules.xml
assignment6/.idea/vcs.xml
assignment6/.idea/workspace.xml
assignment7/.idea/assignment7.iml
assignment7/.idea/codeStyles/Project.xml
assignment7/.idea/misc.xml
assignment7/.idea/modules.xml
assignment7/.idea/vcs.xml
assignment7/.idea/workspace.xml
*.o
assignment7/assign7
assignment8/.idea/workspace.xml
